<div>
  <nav class="primary-color navbar navbar-expand-lg navbar-dark" role="navigation">
    <div class="container container-adjust navtitle-adjust ">

      <!-- <div class="nav-adjust"> -->


      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <img src="/tenx-logo.svg" alt=""
          style="max-width: 120px; margin-top: 30px">

      </a>
      <div class="nav-item">
        <a href="/blogList" class="">
         Blogs
        </a> 
      </div>        

    </div>

  </nav>
</div>
